@import "../_globalColor";

.dark-mode {
  background-color: $darkBackground;
  color: white;
  transition: "0.1s";
}

.banner {
  background-attachment: fixed;
}
.banner {
  position: static; // Ensure the banner is not fixed
}
